---
import MainLayout from "@/layouts/main.astro";
import LayoutNavigation from "@/components/layout/layout-navigation.astro";
import Footer from "@/features/home/footer.astro";
import { routing, appConfig } from "@/core/config";

// biome-ignore lint/style/noNonNullAssertion: <explanation>
const domain = Astro.site!.toString().replace(/\/$/, "");
const imageUrl = `${domain}/adrian-512.webp`;
---

<style>
  .eclipse-overlap-circle {
    background: linear-gradient(135deg, #000000 50%, #0a1a12 85%, #0b2817 100%);
    box-shadow:
      0 0 20px rgba(0, 0, 0, 0.8),
      inset 0 0 60px 10px rgba(11, 40, 23, 0.15);
  }
</style>

<MainLayout
  siteName="Kurs Senior w Rok - Przyśpieszony Rozwój Kariery w IT | Adrian Połubiński"
  url={routing.seniorInYear}
  twitterCreator="@polubis"
  twitterSite="@polubis"
  imageUrl={imageUrl}
  imageAlt="Adrian Połubiński – Front-end Tech Lead i Mentor IT"
  domain={domain}
  title="Kurs Senior w Rok - Przyśpieszony Rozwój Kariery w IT | Adrian Połubiński"
  description="Zostań Senior Web Developerem w 12 miesięcy. Nasz program to holistyczny rozwój, który łączy zaawansowane umiejętności techniczne z kompetencjami miękkimi. Zyskaj pewność siebie i kompleksową wiedzę pod okiem doświadczonego mentora."
  keywords="senior web developer, jak zostać seniorem, awans IT, mentoring IT, senior w rok, full-stack, umiejętności miękkie, kompetencje liderskie, adrian połubiński"
>
  <LayoutNavigation />
  <main>
    <!-- Hero Section -->
    <section
      class="relative fluid page-section grid grid-rows-[auto_auto] items-center gap-12 ltp:gap-24 ltp:grid-cols-2 ltp:grid-rows-1"
      aria-labelledby="hero-title"
    >
      <div class="max-w-2xl">
        <h1 id="hero-title" class="text-h1 w-full font-500 text-shadow-2xs">
          {appConfig.plansSection.plans.seniorInYear.label}
        </h1>
        <p class="text-regular mt-6 font-300">
          Osiągnij poziom Seniora w 12 miesięcy dzięki programowi, który
          holistycznie rozwija Twoje umiejętności techniczne i miękkie. Nauczysz
          się myśleć jak ekspert, podejmować strategiczne decyzje i pewnie
          poruszać się w świecie nowoczesnych technologii webowych.
        </p>
        <p class="text-regular mt-2 font-300">
          Wykorzystaj nasz <strong class="font-500"
            >autorski program 4x12</strong
          >, aby stać się kompletnym i cenionym specjalistą.
        </p>
        <a
          class="relative flex items-center pl-13.5 pr-6.5 w-fit h-11 group my-7"
          href={`#${appConfig.plansSection.id}`}
          aria-label="Zapisz się na listę oczekujących na kurs Senior w Rok"
        >
          <div
            class="absolute left-0 top-0 bottom-0 my-auto bg-primary-500 size-11 rounded-full border border-primary-400 transition-all shadow-[0_0_16px_2px_rgba(1,120,70,0.6)] group-hover:w-full group-hover:shadow-[0_0_16px_2px_rgba(1,120,70,0.9)]"
            aria-hidden="true"
          >
          </div>
          <div
            class="absolute transition-transform flex justify-center items-center left-0 top-0 bottom-0 my-auto size-11 text-[#091610] text-regular-bold font-500 group-hover:translate-x-3.5"
            aria-hidden="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
            >
              <path d="M5 12h14"></path>
              <path d="m12 5 7 7-7 7"></path>
            </svg>
          </div>
          <span
            class="text-regular-bold font-500 drop-shadow-[0_0_11.9px_rgba(0,131,74,0.9)] transition-colors group-hover:text-[#091610]"
          >
            Dołącz do oczekujących
          </span>
        </a>
        <p class="text-small font-300 text-foreground-secondary">
          Kurs jest obecnie w zamkniętej fazie beta. Razem z pierwszą grupą
          dopracowujemy program, by mieć pewność, że zdobędziesz nie tylko
          wiedzę techniczną, ale i cenne umiejętności liderskie. Dołącz do
          listy, aby otrzymać informacje na bieżąco. <strong class="font-500"
            >Planujemy wystartować na początku 2026 roku.</strong
          >
        </p>
      </div>
      <div class="relative aspect-square" aria-hidden="true">
        <div class="radial-flare inset-0 size-[60%] ltp:size-[80%] m-auto">
        </div>
        <div
          class="eclipse-overlap-circle absolute rounded-full size-[80%] ltp:size-full inset-0 m-auto"
        >
        </div>
      </div>
    </section>
    <!-- Hero Section -->

    <!-- Stack Section -->
    <section
      class="fluid page-section flex flex-col justify-center items-center text-center"
      aria-labelledby="stack-title"
    >
      <h2 id="stack-title" class="text-h2 font-500 max-w-xl">
        Technologie dziś i jutra
      </h2>
      <p class="text-regular font-300 mt-8 mb-13 max-w-lg">
        Skupiamy się na stacku uznawanym za stabilny, którego znajomość daje
        solidny „bufor” na rynku pracy.
      </p>
      <div class="relative">
        <div
          class="absolute bg-[rgba(21,214,131,0.08)] blur-3xl w-full h-full"
          aria-hidden="true"
        >
        </div>
        <ul
          aria-label="Kategorie specjalizacji"
          class="flex flex-wrap justify-center gap-6 max-w-[600px] relative"
        >
          <li
            class="before:animate-fade-in-out before:delay-[7s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            React / Angular / Vue / Svelte
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[18s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Node.js
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[3s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            JavaScript / TypeScript
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[1s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            NX / Turborepo
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[4s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Git / Bash
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[23s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Tailwind CSS
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[11s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Next.js / Astro / Nuxt
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[27s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            PostgreSQL / MongoDB / Firebase
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[5s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Cypress / Playwright
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[20s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Vite / Webpack
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[9s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Vitest / Jest
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[22s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Vercel / Netlify / Cloudflare
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[15s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            Docker / N8N
          </li>
          <li
            class="before:animate-fade-in-out before:delay-[29s] before:opacity-0 text-regular-bold font-500 px-4 py-2 rounded-xl relative border border-[#212923] bg-black/2 before:absolute before:top-[-1px] before:mx-auto before:left-0 before:right-0 before:w-6 before:h-[1px] before:bg-gradient-to-r before:from-[#373838] before:via-[#0CC776] before:to-[#383838]"
          >
            RxJS / Redux / Zustand
          </li>
        </ul>
      </div>
    </section>
    <!-- Stack Section -->

    <!-- Course Phases Section -->
    <section
      class="fluid page-section flex flex-col text-center justify-center items-center"
      aria-labelledby="course-path"
      aria-describedby="course-path-description"
    >
      <h2 class="text-h2 font-500 max-w-2xl" id="course-path">
        Sprawdzona Droga do Poziomu Seniora w <span>4 Etapach</span>
      </h2>
      <p
        class="text-regular font-300 mt-6 mb-13 max-w-2xl"
        id="course-path-description"
      >
        Nasz autorski program 4x12 to precyzyjna mapa rozwoju. Krok po kroku
        przeprowadzimy Cię do celu – bez zgadywania i straty czasu.
      </p>
      <div class="flex flex-wrap gap-5">
        <div
          class="flex-1 p-[1px] relative rounded-xl bg-gradient-to-r from-[#111311] via-[#08140f] to-[#010F09]"
        >
          <div
            class="p-6 flex flex-col h-full overflow-hidden rounded-xl bg-background relative"
          >
            <div
              class="radial-flare size-30"
              style="top: 25%; right: 30%;"
              aria-hidden="true"
            >
            </div>
            <div class="flex flex-col">
              <p class="text-h5 font-500 text-foreground-secondary mb-2">
                ETAP 1/4
              </p>
              <h3 class="mb-3 text-h4 font-500">
                Twój Indywidualny Blueprint Rozwoju
              </h3>
              <p class="text-regular font-300">
                Zaczynamy od sesji 1:1 (Mocked Technical Interview), gdzie
                precyzyjnie analizujemy Twój stack i kompetencje. Wynikiem jest
                konkretny raport – Twój osobisty
                <strong class="font-500">Blueprint</strong> oraz mapa rozwoju do
                osiągnięcia celu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Course Phases Section -->

    <!-- Course Overview Section -->

    <!-- <section class="fluid page-section" aria-labelledby="course-overview">
      <div class="flex items-center gap-24">
        <div class="flex-1">
          <h2 class="text-h2 font-500" id="course-overview">
            O kursie „Senior w Rok”
          </h2>
          <p class="text-regular font-300 pt-8 pb-2">
            Przejdziesz przez roczną szkołę przetrwania. Na sam koniec
            powtórzymy tę rozmowę. Będziesz już po całym kursie, dodatkowo
            zaliczysz egzamin i ukończysz swój roczny projekt. Zaraz po tym z
            pewnością będziesz mógł powiedzieć o sobie „Senior”.
          </p>
        </div>
        <div
          class="flex-1 p-[1px] relative rounded-xl bg-gradient-to-r from-[#111311] via-[#08140f] to-[#010F09]"
        >
          <div
            class="p-6 flex flex-col h-full overflow-hidden rounded-xl bg-background relative"
          >
            <div
              class="radial-flare size-30"
              style={`top: ${((1 * 25) % 75) + 10}%; right: ${((1 * 30) % 70) + 15}%;`}
              aria-hidden="true"
            >
            </div>
            <article class="flex flex-col h-full">
              <header class="mb-4">
                <h3 class="mb-2 text-h4 font-500">
                  Etap 1 - spotkanie 1v1 (Mocked Technical Interview)
                </h3>
                <p class="text-regular font-300">
                  Rozpoczniemy od spotkania 1:1, aby określić Twój aktualny
                  poziom. Podczas dwugodzinnej sesji sprawdzimy Twój stack,
                  umiejętności miękkie, a następnie stworzymy raport – będzie to <strong
                    >Blueprint</strong
                  > dla przyszłego rozwoju.
                </p>
              </header>
              <footer class="mt-auto pt-6">
                <p class="text-h5 font-500">Pierwszy miesiąc kursu</p>
              </footer>
            </article>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Course Overview Section -->
  </main>
  <Footer />
</MainLayout>
